name: Metrics
on:
  schedule:
    - cron: "0 0 * * *"  # 每天更新
  workflow_dispatch:  # 手動觸發
  push:
    branches:
      - master

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Yvictor
          template: classic
          base: header, activity, community, repositories
          config_timezone: Asia/Taipei

          # Isometric commit calendar (full year)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          # Output
          filename: metrics.svg
